doctype
html
  head
    title="Strona do logowania do auth/google"
  body
    <form action="http://auth/google">
      p.logowanie Strona do logowania do auth/google
      p.imie Imie <input value="Imie" type="text">
      p.nazwisko Nazwisko <input value="Nazwisko" type="text">
      <input value="LOGIN" type="submit">
    </form>
